<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div>
      <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Productos' %}">Productos</a>
    <a class="navbar-brand" href="{% url 'Clientes' %}">Clientes</a>
    <a class="navbar-brand" href="{% url 'Proveedores' %}">Proveedores</a>
    <a class="navbar-brand" href="{% url 'Ventas' %}">Ventas</a>
    <a class="btn btn-primary" href="#">Ingresar</a>
  </div>
</nav>
