<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div>
      <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Productos' %}">Productos</a>
    <a class="navbar-brand" href="{% url 'Clientes' %}">Clientes</a>
    <a class="navbar-brand" href="{% url 'Proveedores' %}">Proveedores</a>
    <a class="navbar-brand" href="{% url 'Ventas' %}">Ventas</a>
    <a class="navbar-brand" href="{% url 'SobreMi' %}">Sobre mí</a>
    {%if user.is_authenticated%}
      <span>Bienvenido {{user.username}}</span>
      <form action="{%url 'Logout'%}" method="post"> {% csrf_token %}
        <button type="submit" class="btn btn-warning" >Cerrar sesión</button>
      </form>
    {%else%}
      <a class="btn btn-primary" href="{%url 'Login'%}">Ingresar</a>
      <a class="btn btn-secondary" href="{%url 'Registrar'%}">Registrate</a>
    {%endif%}
  </div>
</nav>
