{% extends 'padre.html' %} 

{% block contenidoQueCambia %}

<h1>Vista sobre mi</h1>

<h3>Esta es la seccion donde hablare de mi y del proyecto</h3>

<p>Buenas mi nombre es Franco, tengo 20 años y este es mi 5to curso en Coderhouse.</p>
<p>Los anteriores cursos que hice fueron:
    <ul>
        <li>Desarrollo Web completo</li>
        <li>JavaScript completo</li>
        <li>React JS completo</li>
        <li>Backend con MERN stack quedo por la mitad y lo tuve que dejar</li>
    </ul>
</p>
<p>Me encanta la programación desde chico, con 11 o 12 años buscaba en Youtube como ser hacker, <br> con 13 aprendí los numeros binarios y a hacer operaciones con ellos, <br> con 16 fui aprendiendo mis primeros diagramas de flujo y como se comportaban los condicionales y los bucles, <br> hasta que con 17 años tuve un problema familiar el cual me afecto directamente y ahí es donde la motivación fue <br> decayendo cada vez más y es donde mi camino en la programación <br> se nubló un poco, pero estamos en proceso de seguir mejorando.</p>

<h5>Proyecto</h5>

<p>Con respecto al proyecto, busca ser un software el cual pueda servir <br> para que empresas lo usen para su organización interna, ya sea mediante <br> stock, listado de clientes o proveedores, o cargas de ventas realizadas. <br> La idea sería en el futuro mejorarla para que pueda cumplir con el <br> uso que yo tengo en mente y pueda ayudar a quien sabe a cuantas empresas. <br> Si bien siempre recomiendan no reinventar la rueda, la idea seria <br> tener algo que la diferencie de los demas software de gestión.
</p>

{% endblock contenidoQueCambia %}
